<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>World Navigator Game | Login</title>
    <meta content="User login" name="description">
    <meta content="Anwaar" name="author">
    <link href="/static/css/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="center-container">
    <div class="login-container">
        <p style="font-size: 14px;">
            <b>World Navigator Game</b> | Login
        </p>

        <form action="form" method="post">
            <div class="inner-form">
                <div class="inner-form-details">
                    <div class="inner-form-elem">
                        <label for="username">Username </label>
                        <input id="username" name="username" required type="text" value="">
                    </div>
                    <div class="inner-form-elem">
                        <label for="password">Password </label>
                        <input id="password" name="password" required type="password" value="">
                    </div>
                </div>
                <div class="inner-form-button">
                    <button id="reg-btn" name="login" type="submit" value="login">Login</button>
                </div>
            </div>
            <p style="font-size: 12px;">
                In case you want to register the details above as a new
                <i>User</i>, Please click
                <button id="txt-btn" name="register" type="submit" value="register"><b>Register!</b></button>
                .
            </p>
        </form>
    </div>
</div>
</body>

</html>